@mixin ngx-layout() {
  @include media-breakpoint-down(is) {
    .row {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}
// Here you can add other styles
.table .thead-light th {
  color: #5c6873;
  background-color: #fff;
  border-color: #c8ced3;
}

table td,
.table th {
  padding: 0.5rem !important;
  vertical-align: top;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #c8ced3;
}

tr {
  text-align: center;
}

.table td,
.table th {
  padding: .7rem;
  vertical-align: top;
  border-top: 1px solid #c8ced3;
}

button:focus,
.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control {
  display: block !important;
  // width: 100% !important;
  padding: .5rem .75rem !important;
  line-height: 1.25 !important;
  color: #464a4c !important;
  background-color: #fff !important;
  font-size: 0.825rem !important;
  border: 1px solid rgba(0, 0, 0, .15) !important;
  border-radius: 0 !important;
  font-family: Montserrat, sans-serif !important;
  min-height: 32px !important;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #565656;
  a:focus {
      outline: none;
      box-shadow: none;
      text-shadow: none;
  }
}
